<?xml version="1.0"?>
<!--
/**
 * Copyright © Vendor. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vendor_ProductQnA::productqna" title="Product Q&amp;A" sortOrder="60">
                    <resource id="Vendor_ProductQnA::questions" title="Manage Questions" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
